<!DOCTYPE html>
<html>
<head>
  <link rel="seatbelt.config" type="application/xml" href="https://openid.umn.edu/seatbeltcfg.xml" />
  <meta name="robots" content="noindex,nofollow" />
  <meta name="keywords" content="OpenID" />
<%=raw @identity_page_header %>
  <link rel="stylesheet" type="text/css" media="screen, projection" href="/main.css" />

  <% if params[:action] == 'user_page' %><title><%= request.url %></title><% else %><title>OpenID University of Minnesota</title><% end %>
</head>

<body>
  <div id="umnheader"></div>

  <p><img src="/images/openidumn.png" alt="OpenID at the University of Minnesota for Students, Faculty, and Staff" title="OpenID at the University of Minnesota for Students, Faculty, and Staff" /></p>

  <%= yield  %>

  <div id="umnfooter">
    <table border="0" cellpadding="2" cellspacing="0" width="750">
      <tr valign="top"> 
        <td align="left">&copy; <%= Time.now.year %> Regents of the University of Minnesota. All rights reserved.</td>

        <td align="right"><a href="http://www1.umn.edu/twincities/textsize/">Trouble seeing the text?</a>&nbsp;|&nbsp; <a href="http://www1.umn.edu/twincities/contact/">Contact U of M</a> |&nbsp; <a href="http://www.privacy.umn.edu/">Privacy</a>&nbsp;</td>
      </tr>

      <tr valign="top">
        <td align="left"><i>The University of Minnesota is an equal opportunity educator and employer.</i></td>

        <td align="right">&nbsp;</td>
      </tr>
    </table>
  </div>
</body>
</html>
